{% extends 'admin/base_site.html' %}

{% block content %}
<h1>THỐNG KÊ</h1>
<div style="display: flex; flex-direction: row; width: 100%;">
    <div>
        <table>
            <thead>
            <tr>
                <th>Mã</th>
                <th>Tên luận văn</th>
                <th>Điểm</th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for t in stats %}
            <tr>
                <td>{{t.id}}</td>
                <td>{{t.title}}</td>
                <td>{{t.total_score}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="min-width: 50%; margin-left: 20px">
        <form>
            <div>
                <div>Năm</div>
                <input type="number" min="1900" name="year" step="1"/>
            </div>
            <div>
                <input type="submit" value="Lọc dữ liệu" class="btn btn-info"/>
            </div>
        </form>
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = [];
    let labels = [];
    let backgroundColor = [];

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    {%for t in stats %}
    labels.push('{{t.title}}');
    data.push({{t.total_score}});
    backgroundColor.push(getRandomColor());
    {% endfor %}

    window.onload = function () {
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Điểm',
                    data: data,
                    borderWidth:  2,
                    borderColor: 'black',
                    backgroundColor: backgroundColor
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }
</script>
{% endblock %}